.top-padded { 
    padding-top: 65px; 
}

textarea {
    width:98%;
}

.rollie {
    
    visibility:hidden;
}

.showRollie:hover .rollie{

    visibility:visible;
}

.back-button {
    
    margin-right:2em;

}

.label a {
    
    color:white;
}

bs-docs-example:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Recipes";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.bs-docs-example {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
}

.footer {
    text-align: center;
}