*.pyc
*.db3
*.swp
.pytest_cache
venv/
*.sql
*.sql.gz
static/
layers/
logs/
docker/certs/
categories.json
confusables.json
.dockersetup-options
docker/nginx-ssl-edited.conf
requirements.txt.diff
requirements.txt.updated
requirements_outdated.txt
requirements_safety_check.txt
requirements_deptree.txt
