services:
  db:
    image: mariadb:lts
    environment:
      MARIADB_DATABASE: layerindex
      MARIADB_ROOT_PASSWORD: testingpw
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 5s
      timeout: 5s
      retries: 5
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --wait_timeout=28800 --max_allowed_packet=128M

  rabbitmq:
    image: rabbitmq:alpine
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      start_period: 10s
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    build: .
    image: yoctoproject/layerindex-web
    volumes:
      - .:/app
      - layerindex-data:/opt/layerindex-data
    env_file:
      - .env.docker

  celery:
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    image: yoctoproject/layerindex-web
    volumes:
      - .:/app:ro
      - layerindex-data:/opt/layerindex-web
    env_file:
      - .env.docker
    command: /usr/local/bin/celery --workdir=/app --app layerindex.tasks worker --loglevel=INFO

volumes:
  layerindex-data:
