amqp==5.2.0
asgiref==3.8.1
beautifulsoup4==4.12.3
billiard==4.2.0
celery==5.3.6
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
confusable-homoglyphs==3.3.1
diff-match-patch==20230430
Django>=4.2,<4.3
django-appconf==1.0.6
django-axes==6.4.0
django-cors-headers==4.3.1
django-ipware==6.0.5
django-ranged-response==0.2.0
django-registration==3.4
django-reversion==5.0.12
django-reversion-compare==0.17.0
django-simple-captcha==0.6.0
djangorestframework==3.15.2
gitdb==4.0.11
GitPython==3.1.43
kombu==5.3.7
mysqlclient==2.2.4
packaging_legacy==23.0.post0
Pillow==10.3.0
prompt-toolkit==3.0.43
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
smmap==5.0.1
soupsieve==2.5
sqlparse==0.5.0
typing_extensions==4.11.0
tzdata==2024.1
vine==5.1.0
wcwidth==0.2.13
