Django==1.4
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.4.0
South==0.8.4
Unidecode==0.04.16
argparse==1.2.1
awesome-slugify==1.5
django-cors-headers==0.12
django-nvd3==0.7.4
django-registration==0.8
django-reversion==1.6.0
django-reversion-compare==0.3.5
django-simple-captcha==0.4.2
djangorestframework==2.3.14
python-nvd3==0.12.2
regex==2014.06.28
six==1.7.3
wsgiref==0.1.2
GitPython==0.3.2.1
