{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if validlink %}

<form id="password_form" method="post" action=".">
  {{ form.as_p }}

  <input type="submit" class="btn" value="{% trans 'Submit' %}" />
  {% csrf_token %}
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}

{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function() {
        $("#password_form input:text, #password_form textarea").first().focus();
    });
</script>
{% endblock %}
