{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if validlink %}

<form id="password_form" method="post" action=".">
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

      {% if form.non_field_errors %}
        <div class="form-group alert alert-danger">
            {{ form.non_field_errors }}
        </div>
      {% endif %}

    {% for field in form.visible_fields %}
        {% if field.name in form.errors %}
        <div class="form-group alert alert-danger">
        {{ field.errors }}
        {% else %}
        <div class="form-group">
        {% endif %}
            <div class="control-label {% if field.required %}requiredlabel{% endif %}">
                {{ field.label_tag }}
            </div>
            <div class="controls">
                {{ field }}
            </div>
        <p>
        {{ field.help_text|safe }}
        </p>
        </div>
    {% endfor %}

  <input type="submit" class="btn btn-default" value="{% trans 'Submit' %}" />
  {% csrf_token %}
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}

{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function() {
        $("#password_form input:text, #password_form textarea").first().focus();
    });
</script>
{% endblock %}
