{% extends "base.html" %}
{% load i18n %}

<!--
{% block title_append %} - About{% endblock %}
-->

{% block content %}
{% autoescape on %}
<h2>About</h2>

<p>This website indexes layers for the <a href="http://www.openembedded.org">OpenEmbedded</a> build system provided by members of the OpenEmbedded / Yocto Project community, suitable for use on top of OpenEmbedded-Core and compatible systems, providing additional recipes, machine support and/or distro policy configuration.</p>

<p>If you have a layer for use with OpenEmbedded that you wish to share with others, please <a href="{% url 'submit_layer' %}">submit it</a>!</p>

<h3>Technologies</h3>

<p>This website makes use of the following technologies/components:</p>
<ul>
<li><a href="http://www.python.org/">Python</a></li>
<li><a href="http://www.djangoproject.com/">Django</a> as well as the following Django modules:
    <ul>
        <li><a href="http://bitbucket.org/ubernostrum/django-registration/">django-registration</a></li>
        <li><a href="http://github.com/etianen/django-reversion">django-reversion</a></li>
        <li><a href="http://pypi.python.org/pypi/django-reversion-compare/">django-reversion-compare</a></li>
        <li><a href="http://github.com/mbi/django-simple-captcha">django-simple-captcha</a></li>
    </ul>
</li>
<li><a href="https://getbootstrap.com/">Bootstrap</a> (3.x)</li>
<li><a href="http://glyphicons.com/">Glyphicons</a> (via Bootstrap)</li>
<li><a href="http://jquery.com/">jQuery</a></li>
<li><a href="http://www.chartjs.org/">Chart.js</a></li>
<li><a href="http://www.openembedded.org/wiki/BitBake_%28user%29">BitBake</a></li>
</ul>

<h3>Credits</h3>

<p>This application was created for OpenEmbedded by the <a href="http://www.yoctoproject.org">Yocto Project</a>. Individual contributors:</p>

<ul>
<li>Paul Eggleton</li>
<li>Belen Barros Pena</li>
<li>Alexandru Damian</li>
<li>Michael Halstead</li>
<li>Liam R. Howlett</li>
<li>Mark Hatle</li>
<li>Robert Yang</li>
<li>Jose Lamego</li>
<li>Amanda Brindle</li>
<li>Diana Thayer</li>
<li>Marius Avram</li>
<li>Saul Wold</li>
<li>Aníbal Limón</li>
<li>Amber Elliot</li>
<li>Tim Orling</li>
</ul>

<p>The code is Open Source and can be found on <a href="http://git.yoctoproject.org/cgit/cgit.cgi/layerindex-web/">git.yoctoproject.org</a>. Patches welcome!</p>

{% endautoescape %}
{% endblock %}

{% block footer %}
{% endblock %}
